
.color-primary {
    color: #ffba00
}

.color-secondary {
    color: #2349b6
}

/* @font-face {
    font-family: "Sagona";
    src: url("/assets/typefaces/sagona/Sagona-Thin.woff2") format("woff2"), url("/assets/typefaces/sagona/Sagona-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: "Sagona";
    src: url("/assets/typefaces/sagona/sagona-thin-italic.woff2") format("woff2"), url("/assets/typefaces/sagona/sagona-thin-italic.woff") format("woff");
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: "Sagona";
    src: url("/assets/typefaces/sagona/Sagona-ExtraLight.woff2") format("woff2"), url("/assets/typefaces/sagona/Sagona-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: "Sagona";
    src: url("/assets/typefaces/sagona/sagona-extralight-italic.woff2") format("woff2"), url("/assets/typefaces/sagona/sagona-extralight-italic.woff") format("woff");
    font-weight: 200;
    font-style: italic
}

@font-face {
    font-family: "Sagona";
    src: url("/assets/typefaces/sagona/Sagona-Light.woff2") format("woff2"), url("/assets/typefaces/sagona/Sagona-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Sagona";
    src: url("/assets/typefaces/sagona/sagona-light-italic.woff2") format("woff2"), url("/assets/typefaces/sagona/sagona-light-italic.woff") format("woff");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: "Sagona";
    src: url("/assets/typefaces/sagona/sagona-book.woff2") format("woff2"), url("/assets/typefaces/sagona/sagona-book.woff") format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Sagona";
    src: url("/assets/typefaces/sagona/sagona-book-italic.woff2") format("woff2"), url("/assets/typefaces/sagona/sagona-book-italic.woff") format("woff");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: "Sagona";
    src: url("/assets/typefaces/sagona/Sagona-Medium.woff2") format("woff2"), url("/assets/typefaces/sagona/Sagona-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "Sagona";
    src: url("/assets/typefaces/sagona/sagona-medium-italic.woff2") format("woff2"), url("/assets/typefaces/sagona/sagona-medium-italic.woff") format("woff");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: "Sagona";
    src: url("/assets/typefaces/sagona/Sagona-SemiBold.woff2") format("woff2"), url("/assets/typefaces/sagona/Sagona-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: "Sagona";
    src: url("/assets/typefaces/sagona/sagona-semibold-italic.woff2") format("woff2"), url("/assets/typefaces/sagona/sagona-semibold-italic.woff") format("woff");
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: "Sagona";
    src: url("/assets/typefaces/sagona/sagona-bold.woff2") format("woff2"), url("/assets/typefaces/sagona/sagona-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "Sagona";
    src: url("/assets/typefaces/sagona/sagona-bold-italic.woff2") format("woff2"), url("/assets/typefaces/sagona/sagona-bold-italic.woff") format("woff");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: "Sagona";
    src: url("/assets/typefaces/sagona/sagona-extrabold.woff2") format("woff2"), url("/assets/typefaces/sagona/sagona-extrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: "Sagona";
    src: url("/assets/typefaces/sagona/sagona-extrabold-italic.woff2") format("woff2"), url("/assets/typefaces/sagona/sagona-extrabold-italic.woff") format("woff");
    font-weight: 800;
    font-style: italic
}

@font-face {
    font-family: "Sagona";
    src: url("/assets/typefaces/sagona/sagona-heavy.woff2") format("woff2"), url("/assets/typefaces/sagona/sagona-heavy.woff") format("woff");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: "Sagona";
    src: url("/assets/typefaces/sagona/sagona-heavy-italic.woff2") format("woff2"), url("/assets/typefaces/sagona/sagona-heavy-italic.woff") format("woff");
    font-weight: 900;
    font-style: italic
}

@font-face {
    font-family: "Patron";
    src: url("../assets/typefaces/patron/PatronWEB-Thin.woff2") format("woff2"), url("../assets/typefaces/patron/PatronWEB-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: "Patron";
    src: url("../assets/typefaces/patron/PatronWEB-ThinItalic.woff2") format("woff2"), url("../assets/typefaces/patron/PatronWEB-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: "Patron";
    src: url("../assets/typefaces/patron/PatronWEB-Light.woff") format("woff"), url("../assets/typefaces/patron/PatronWEB-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Patron";
    src: url("../assets/typefaces/patron/PatronWEB-LightItalic.woff") format("woff"), url("../assets/typefaces/patron/PatronWEB-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: "Patron";
    src: url("../assets/typefaces/patron/PatronWEB-Regular.woff") format("woff"), url("../assets/typefaces/patron/PatronWEB-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Patron";
    src: url("../assets/typefaces/patron/PatronWEB-Italic.woff") format("woff"), url("../assets/typefaces/patron/PatronWEB-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: "Patron";
    src: url("../assets/typefaces/patron/PatronWEB-Medium.woff") format("woff"), url("../assets/typefaces/patron/PatronWEB-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "Patron";
    src: url("../assets/typefaces/patron/PatronWEB-MediumItalic.woff") format("woff"), url("../assets/typefaces/patron/PatronWEB-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: "Patron";
    src: url("../assets/typefaces/patron/PatronWEB-Bold.woff") format("woff"), url("../assets/typefaces/patron/PatronWEB-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "Patron";
    src: url("../assets/typefaces/patron/PatronWEB-BoldItalic.woff") format("woff"), url("../assets/typefaces/patron/PatronWEB-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: "Patron";
    src: url("../assets/typefaces/patron/PatronWEB-Black.woff") format("woff"), url("../assets/typefaces/patron/PatronWEB-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: "Patron";
    src: url("../assets/typefaces/patron/PatronWEB-BlackItalic.woff") format("woff"), url("../assets/typefaces/patron/PatronWEB-BlackItalic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic
} */

.content-section {
    position: relative;
    padding: 130px 0;
    text-align: center
}

@media screen and (max-width: 960px) {
    .content-section {
        padding: 60px 0
    }
}

.content-section .container {
    max-width: 1280px;
    padding: 0 20px;
    margin: auto
}

@media screen and (min-width: 1680px) {
    .hidden-xlg {
        display: none !important
    }
}

.visible-lg {
    display: none !important
}

@media screen and (min-width: 1400px) {
    .visible-lg {
        display: block !important
    }
}

@media screen and (min-width: 1400px) {
    .hidden-lg {
        display: none !important
    }
}

@media screen and (min-width: 1200px) {
    .hidden-md {
        display: none !important
    }
}

@media screen and (min-width: 1000px) {
    .hidden-sm {
        display: none !important
    }
}

@media screen and (min-width: 768px) {
    .hidden-xs {
        display: none !important
    }
}

.clients-list .tile-group {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 20px
}

@media screen and (max-width: 960px) {
    .clients-list .tile-group {
        margin: 0;
        display: block
    }
}

.clients-list .tile-group .tile+.tile {
    margin-left: 20px
}

@media screen and (max-width: 960px) {
    .clients-list .tile-group .tile+.tile {
        margin-left: 4%
    }
}

.clients-list .tile-group .tile {
    width: 100%;
    flex: 1
}

@media screen and (max-width: 960px) {
    .clients-list .tile-group .tile {
        width: auto;
        margin: 4%
    }
}

.clients-list .tile-group .tile.invisible {
    -webkit-transition: opacity 600ms ease;
    -moz-transition: opacity 600ms ease;
    transition: opacity 600ms ease;
    opacity: 0.1;
    animation: pulse-reverse 600ms 0ms forwards;
    -webkit-animation: pulse-reverse 600ms 0ms forwards
}

.clients-list .tile-group .tile.visible {
    -webkit-transition: opacity 600ms ease;
    -moz-transition: opacity 600ms ease;
    transition: opacity 600ms ease;
    opacity: 1.0;
    animation: pulse 600ms 0ms forwards;
    -webkit-animation: pulse 600ms 0ms forwards
}

.clients-list .tile-group .tile:after {
    content: "";
    display: block;
    clear: both
}

.clients-list .tile-group .tile.emphasis>a {
    box-shadow: inset 0 0 0 15px #ffd300;
    -moz-box-shadow: inset 0 0 0 15px #ffd300;
    -webkit-box-shadow: inset 0 0 0 15px #ffd300
}

@media screen and (max-width: 960px) {
    .clients-list .tile-group .tile.emphasis>a {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none
    }
}

.clients-list .tile-group .tile.split {
    flex: 2.03
}

.clients-list .tile-group .tile.split>a {
    width: 50%;
    float: left
}

@media screen and (max-width: 960px) {
    .clients-list .tile-group .tile.split>a {
        width: 100%
    }
}

.clients-list .tile-group .tile.split .graphic {
    float: left;
    width: 50%;
    height: 590px
}

@media screen and (max-width: 960px) {
    .clients-list .tile-group .tile.split .graphic {
        width: 100%;
        height: 240px
    }
}

.clients-list .tile-group .tile.featured>a {
    background: #ffd300;
    border-top: 0
}

.clients-list .tile-group .tile.featured>a>.lockup .button-group .button:hover {
    background-color: #fff;
    color: #000
}

.clients-list .tile-group .tile.featured>a>.lockup .button-group .button:hover .icon {
    background-image: url("/assets/images/shared/arrow_right_000000@2x.png")
}

.clients-list .tile-group .tile.empty {
    pointer-events: none
}

.clients-list .tile-group .tile.konmari .graphic {
    background: url("/assets/images/clients/hero_konmari.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding-left: 20px
}

.clients-list .tile-group .tile.wodcast .graphic {
    background: url("/assets/images/clients/hero_wodcast.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover
}

.clients-list .tile-group .tile.sochat>a {
    float: right
}

.clients-list .tile-group .tile.sochat .graphic {
    float: left;
    background: url("/assets/images/clients/hero_sochat.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover
}

.clients-list .tile-group .tile.cape>a {
    float: right
}

.clients-list .tile-group .tile.cape .graphic {
    float: left;
    background: url("/assets/images/clients/hero_cape.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover
}

.clients-list .tile-group .tile.umich .graphic {
    background: url("/assets/images/clients/hero_umich_medium.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover
}

.clients-list .tile-group .tile.ematic .graphic {
    background: url("/assets/images/clients/hero_ematic.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover
}

.clients-list .tile-group .tile>a {
    height: 590px;
    display: block;
    background: #f4f4f4;
    display: flex;
    align-items: center
}

@media screen and (max-width: 960px) {
    .clients-list .tile-group .tile>a {
        height: auto
    }
}

@media screen and (max-width: 960px) {
    .clients-list .tile-group .tile>a {
        border-top: 15px solid #ffd300
    }
}

.clients-list .tile-group .tile>a:hover {
    opacity: 1;
    box-shadow: inset 0 0 0 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 0 15px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 0 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.clients-list .tile-group .tile>a:active {
    opacity: .5
}

.clients-list .tile-group .tile>a>.lockup {
    width: 72%;
    padding-left: 17%
}

@media screen and (max-width: 960px) {
    .clients-list .tile-group .tile>a>.lockup {
        width: 100%;
        padding: 10%
    }
}

.clients-list .tile-group .tile>a>.lockup>.heading>.subtitle {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
    line-height: 20px
}

.clients-list .tile-group .tile>a>.lockup>.heading>.title {
    font-family: Sagona, Georgia, serif;
    font-weight: 900;
    color: #111;
    font-size: 24px;
    line-height: 28px;
    color: #000;
    margin: 14px 0 19px
}

@media screen and (max-width: 480px) {
    .clients-list .tile-group .tile>a>.lockup>.heading>.title {
        font-size: 20px;
        line-height: 24px
    }
}

.clients-list .tile-group .tile>a>.lockup>.heading>.description {
    color: #27282a;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #5c5e63;
    color: rgba(0, 0, 0, 0.5)
}

@media screen and (max-width: 480px) {
    .clients-list .tile-group .tile>a>.lockup>.heading>.description {
        font-size: 16px;
        line-height: 22px
    }
}

.clients-list .tile-group .tile>a>.lockup>.button-group {
    margin-top: 25px
}

@media screen and (max-width: 960px) {
    .clients-list .tile-group .tile>a>.lockup>.button-group {
        margin-top: 8%
    }
}

.clients-list .tile-group .tile>a>.lockup>.button-group .button {
    display: block;
    text-align: center;
    cursor: pointer;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    color: #000;
    position: relative;
    border: 2px solid #ffd300;
    padding: 7px 36px 8px 14px;
    border: 0;
    background: #000;
    color: #fff;
    padding: 9px 36px 10px 14px
}

.clients-list .tile-group .tile>a>.lockup>.button-group .button .icon {
    background: url("../assets/images/shared/arrow_right_000000@2x.png") 0 0 no-repeat;
    -webkit-background-size: 15px 13px;
    -moz-background-size: 15px 13px;
    background-size: 15px 13px;
    display: block;
    width: 15px;
    height: 13px;
    position: absolute;
    top: 11px;
    right: 13px
}

.clients-list .tile-group .tile>a>.lockup>.button-group .button .label {
    display: block
}

.clients-list .tile-group .tile>a>.lockup>.button-group .button:hover {
    opacity: 1;
    background-color: #ffd300
}

.clients-list .tile-group .tile>a>.lockup>.button-group .button:active {
    opacity: .6
}

.clients-list .tile-group .tile>a>.lockup>.button-group .button .icon {
    background-image: url("/assets/images/shared/arrow_right_ffd300@2x.png");
    top: 13px
}

.clients-list .tile-group .tile>a>.lockup>.button-group .button:hover {
    background-color: #ffd300;
    color: #000
}

.clients-list .tile-group .tile>a>.lockup>.button-group .button:hover .icon {
    background-image: url("/assets/images/shared/arrow_right_000000@2x.png")
}

@keyframes pulse {
    0% {
        transform: scale(1, 1)
    }
    50% {
        transform: scale(1.01, 1.01)
    }
    100% {
        transform: scale(1, 1)
    }
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(1, 1)
    }
    50% {
        transform: scale(1.01, 1.01)
    }
    100% {
        transform: scale(1, 1)
    }
}

@keyframes pulse-reverse {
    0% {
        transform: scale(1.01, 1.01)
    }
    50% {
        transform: scale(0.99, 0.99)
    }
    100% {
        transform: scale(1, 1)
    }
}

@-webkit-keyframes pulse-reverse {
    0% {
        transform: scale(1.01, 1.01)
    }
    50% {
        transform: scale(0.99, 0.99)
    }
    100% {
        transform: scale(1, 1)
    }
}

.clients-hero {
    position: relative;
    text-align: center;
    max-height: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../assets/images/clients/hero_clients.jpg") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover
}

@media screen and (max-width: 640px) {
    .clients-hero {
        width: auto;
        min-height: 400px
    }
    .clients-hero>.heading {
        width: auto;
        padding: 43% 2% 30%
    }
}

.clients-hero>.heading {
    width: 840px
}

.clients-hero>.heading>.subtitle {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.3)
}

.clients-hero>.heading>.title {
    font-family: Sagona, Georgia, serif;
    font-weight: 900;
    color: #111;
    font-size: 40px;
    line-height: 48px;
    color: #2349b6;
    color: #000;
    margin: 10px 0 7px
}

@media screen and (max-width: 480px) {
    .clients-hero>.heading>.title {
        font-size: 30px;
        line-height: 32px
    }
}

.clients-hero>.heading>.description {
    color: #27282a;
    font-size: 22px;
    line-height: 34px;
    font-weight: 500;
    color: #7f7f7f;
    margin: 0 auto;
    max-width: 520px
}

@media screen and (max-width: 480px) {
    .clients-hero>.heading>.description {
        font-size: 16px;
        line-height: 22px
    }
}

.clients-hero>.button-group {
    margin: 30px auto 40px;
    width: 195px
}

.clients-hero>.button-group .download-app-store {
    opacity: 1;
    display: block;
    width: 195px
}

.clients-hero>.button-group .download-app-store img {
    width: 100%;
    max-width: 100%;
    display: block
}

.clients-hero>.button-group .download-app-store:hover {
    opacity: .8
}

.clients-hero>.button-group .download-app-store:active {
    opacity: .6
}

.clients-hero>.graphic {
    width: 700px;
    margin: 0 auto
}